.advantages {
    min-height: 470px;
    padding: 69px 0 80px 0;
    background: #f6f6f6;
    margin: 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 237px;
        h3 {
            margin: 38px 0 0 0;
            font-size: 18px;
            font-weight: 700;
            color: $second-color;
        }
        p {
            margin: 26px 0 0 0;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: $second-color;
            a {
                text-transform: uppercase;
                text-decoration: underline;
                color: $main-color;
            }
        }
    }
    &__icon {
        &_animated {
           animation: heartbeat 1.5s ease infinite;
           &:hover {
               animation-play-state: paused;
           }
        }
    }
    
}

@media (max-width: 991px) {
    .advantages {
        padding: 69px 20px 80px 20px;
    }
}

@media (max-width: 871px) {
    .advantages {
        &__item {
            max-width: 215px;
        }
    }
}

@media (max-width: 770px) {
    .advantages {
        &__item {
            margin: 0 7px;
            text-align: center;
            max-width: 215px;
            h3 {
                margin: 38px 0 0 0;
                font-size: 13px;
            }
            p {
                margin: 20px 0 0 0;
                font-size: 10px;
            }
        }
        &__icon {
            max-height: 60px;
            max-width: 60px;
        }
    }
}

@media (max-width: 545px){
    .advantages {
        min-height: 400px;
        padding: 50px 5px;
        &__item {
            margin: 0;
            &:nth-child(2) {
                margin: 0 7px;
            }
            h3 {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 321px) {
    .advantages {
        padding: 45px 0;
        &__wrapper {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            &:nth-child(2) {
                margin: 20px 0;
            }
            h3 {
                margin: 16px 0 0 0;
                font-size: 14px;
            }
            p {
                margin: 16px 0 0 0;
                font-size: 12px;
            }
        }
    }
}

