.title {
    color: $second-color;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &_left {
        text-align: left;
        color: #ffffff;
        line-height: 43px;
        font-size: 36px;
    }
}

@media (max-width: 770px) {
    .title {
        font-size: 25px;
        line-height: 25px;
    }
}

@media (max-width: 545px) {
    .title {
        font-size: 22px;
        line-height: 22px;
    }
}

@media (max-width: 321px) {
    .title {
        font-size: 18px;
        line-height: normal;
        text-align: center;
    }
}